/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(176, 224, 241, 0.8), rgb(24, 159, 212,0.8));
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


h1, h2, h3 {
    margin: 20px 0;
    color: #444;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #2c3e50;
}

h2 {
    font-size: 2em;
    margin-top: 30px;
    color: #2980b9;
}

h3 {
    font-size: 1.2em;
    margin-left: 20px;
    line-height: 1.8;
}

h3 br {
    display: block;
    margin-bottom: 10px;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, rgba(188, 160, 223, 0.8), rgba(171, 39, 232, 0.8));
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* List Styles */
h3::before {
    content: counter(section) ". ";
    counter-increment: section;
    font-weight: bold;
}

h3:first-child::before {
    counter-reset: section;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }
}
